{
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "react",
    "dependencies"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
  }
}
